/* Primary Blue #2c4cff */

.petastic-button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAFB;
    transition-property: all;
    background-color: #2c4cff;
    border-radius: 12px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    user-select: none;
    font-weight: 700;
    padding: 10px 0;
    appearance: none;
    border: none;
}

.petastic-button:hover {
    color: #FFFFFF;
    background-color: #4c75ff;
}

.petastic-text-left {
    width: 100% !important;
    text-align: left !important;
}

.petastic-login-wrapper {
    @media (max-width: 500px) {
        width: 100% !important;
    }

    @media (min-width: 501px) {
        width: 380px !important;
    }
}